.ant-layout-header {
    display: flex;
}

.headerTitle {
    color: white;
    font-weight: bold;
    font-size: xx-large;
}

.logo {
    background: url('assets/img/circle-logo.png');
    background-repeat: no-repeat;
    background-size: 50px 50px;
    margin: 7px 0 0 0;
    width: 64px;
    height: 64px;
}

.site-layout-content {
    min-height: 280px;
    padding: 24px;
    background: #fff;
}

#components-layout-demo-top .logo {
    float: left;
    width: 120px;
    height: 31px;
    margin: 16px 24px 16px 0;
    background: rgba(255, 255, 255, 0.3);
}

.ant-row-rtl #components-layout-demo-top .logo {
    float: right;
    margin: 16px 0 16px 24px;
}